.arena {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFE0;
  border: 1em solid grey;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  padding: O;
}

.arena > .kuminai {
  position: absolute;
  border: 1px silver ridge;
  border-radius: 50%;
  will-change: transform;
  opacity: .6;
  background-color: rgb(212, 9, 9);
  width: 15px;
  height: 15px;
}

.arena > .serial {
  position: absolute;
  border: 1px silver ridge;
  border-radius: 50%;
  background-color: rgb(26, 31, 17);
  width: 30px;
  height: 30px;
}